name: Python CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pipenv
      run: pip install --upgrade pip pipenv

    - name: Install dependencies
      run: |
        pipenv install --deploy --ignore-pipfile

    - name: Run tests
      run: pipenv run pytest -v

    - name: Lint code
      run: pipenv run flake8 .
